<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete Equipment</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <style>
        .img_responsive_fixed_small {
            display: block;
            max-width: 100%;
            height: auto;
        }
        @media only screen and (max-width: 768px) {
            .img_responsive_fixed_small {
            max-width: 140px;
            max-height: 140px;
            }
        }
        #menu a:hover,
        #menu a.active{
            color: white;
            /* background:white; */
            background: #1D271A;
            /* border-right: 2px solid rgb(96, 122, 138); */
            width: auto;
        }
        .bi {
        vertical-align: -.125em;
        fill: currentColor;
      }

      #sidebar{
        background-color: #223226;
      }

      #bg-navbar,
      #bg-navbar a{
        background-color: #960017;
        color: white;
      }

      #sidebar-title,
      #sidebar-title a
      {
        background: #7D000F;
        /* margin: -10px; */
        width: 100%;
        text-align: center;
        word-wrap:break-word;
        display: block;
        white-space: normal;
        color: white;
      }
      hr {
        width: 80%; 
        margin-right: auto;
        margin-left: auto;
        color: whitesmoke; 
        height: 1px; 
        background-color:whitesmoke; 
      }
    </style>
    
</head>
<body>
    {% include "sidebarEquipment.html" %}
          <!-- content area! -->
          <div class="col px-0 bg-light">

            <!-- <nav class="navbar sticky-top navbar-light" id="bg-navbar">
              <div class="container-fluid">
                <a class="navbar-brand" href="#">{% now "Y-m-d" %} Hello {{ user.email }}</a>
              </div>
            </nav> -->
            {% include "navbar.html" %}

            <h3 class="p-3 bg-white">
                EQUIPMENT <br>
                <small class="text-muted">Management of Equipment</small>
            </h3>

            <h4 class="p-3">
                Delete Equipment
            </h4>

            {% if messages %}
                <div class="container">
                <hr>
                {% for msg in messages %}
                <b>{{msg}}</b>
                {% endfor %}
                </div>
                <hr>
            {% endif %}

            <div class="container p-3 bg-white">
                <form method="POST" action="{% url 'equipment:deleteEquipment' equipment.id %}" enctype="multipart/form-data">
                  {% csrf_token %}
                    <div class="mb-3 row">
                        <label for="name" class="col-sm-2 col-form-label">Name*</label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control" disabled readonly id="name" name="name" value="{{equipment.equipmentName}}">
                        </div>
                      </div>
                    <div class="mb-3 row">
                        <label for="serialID" class="col-sm-2 col-form-label">Serial ID</label>
                        <div class="col-sm-10">
                          <input type="text"  class="form-control" disabled readonly id="serialID" value="{{equipment.equipmentSerialID}}" name="serialID">
                        </div>
                      </div>
                      <div class="mb-3 row">
                        <label for="status" class="col-sm-2 col-form-label">Status*</label>
                        <div class="col-sm-10">
                            <select name="status" id="status" class="form-select" aria-label="Default select example">
                                <option value="ACTIVE">Active</option>
                                <option value="INACTIVE">Inactive</option>
                              </select>
                        </div>
                      </div>
                      <div class="mb-3 row">
                        <label for="location" class="col-sm-2 col-form-label">Location*</label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control" disabled readonly id="location" name="location" value="{{equipment.equipmentLocation}}">
                        </div>
                      </div>
                      <div class="mb-3 row">
                        <label for="make" class="col-sm-2 col-form-label">Make</label>
                        <div class="col">
                          <input type="text" class="form-control" value="{{equipment.equipmentMake}}" disabled readonly aria-label="make" id="make" name="make">
                        </div>
                        <label for="model" class="col-sm-2 col-form-label">Model</label>
                        <div class="col">
                          <input type="text" class="form-control" disabled readonly value="{{equipment.equipmentModel}}" aria-label="model" id="model" name="model">
                        </div>
                      </div>
                      <div class="mb-3 row">
                        <label for="acquiredDate" class="col-sm-2 col-form-label">Acquired Date</label>
                        <div class="col">
                          <input type="date" class="form-control" disabled readonly id="acquiredDate" name="acquiredDate" value="{{equipment.equipmentAcquiredDate|date:'Y-m-d'}}" >
                        </div>
                        <label for="purchasedFrom" class="col-sm-2 col-form-label">Purchased From</label>
                        <div class="col">
                          <input type="text" class="form-control" disabled readonly id="purchasedFrom" name="purchasedFrom" value="{{equipment.equipmentPurchasedFrom}}">
                        </div>
                      </div>
                      <div class="mb-3 row">
                        <label for="yearMade" class="col-sm-2 col-form-label">Year Made</label>
                        <div class="col">
                          <input type="text" class="form-control" disabled readonly id="yearMade" name="yearMade" value="{{equipment.equipmentYear}}">
                        </div>
                        <label for="lastMaintenance" class="col-sm-2 col-form-label">Last Maintenance</label>
                        <div class="col">
                          <input type="date" class="form-control" disabled readonly id="lastMaintenance" name="lastMaintenance" value="{{equipment.equipmentLastMaintenance|date:'Y-m-d'}}">
                        </div>
                      </div>

                      <div class="mb-3 row">
                        <label for="color" class="col-sm-2 col-form-label">Color</label>
                        <div class="col">
                          <input type="text" class="form-control" disabled readonly id="color" name="color" value="{{equipment.equipmentColor}}">
                        </div>
                        <label for="price" class="col-sm-2 col-form-label">Price (RM)</label>
                        <div class="col">
                          <input type="number" class="form-control" disabled readonly id="price" name="price" value="{{equipment.equipmentPrice}}">
                        </div>
                      </div>
                      <div class="mb-3">
                        <label for="notes" class="form-label">Notes</label>
                        <textarea class="form-control" id="notes" rows="3" disabled readonly></textarea>
                      </div>
                      <div class="mb-3 row">
                        <label for="currentImage" class="form-label">Equipment Image</label>
                        {% if equipment.equipmentPhoto %}
                        <div class="col-sm-10">
                            <img src="{{MEDIA_URL}}{{equipment.equipmentPhoto}}" alt="Equipment Pic" id="imgSrc" style="width:150px;height:100px;" class="img-thumbnail img_responsive_fixed_small">
                        </div>
                        {% else %}
                        <div class="alert alert-warning px-3" role="alert">
                          No file is attached
                        </div>
                        {% endif %}
                      </div>
                    
                      <div class="col-12">
                        <button type="submit" class="btn btn-danger" onclick="deleteEquipment(); return false;">Delete</button>
                      </div>
                </form>
            </div>
              
          </div>

          


        </div>
      </div>

      <script>
        $('select option[value='+"{{equipment.equipmentStatus}}"+']').attr('selected','selected');
        $('select').attr('disabled', '');
        $('select').attr('readonly', '');

        function deleteEquipment(){
            
          if (confirm("Press OK to confirm the deletion of equipment !")) {
              // document.location.href = "{% url 'equipment:deleteEquipment' equipment.id %}";
            this.form.submit();
          }else{
            alert("You canceled deleting this record!");
          }
        };
      </script>
    
</body>
</html>